%form#form.ts-form{ name: 'form', action: '', role: :form }
  .ts-form-group
    %label{ for: :count}
      = t('views.javascript.xhr.fields.count')
    %input#count.ts-field-count{ type: :text, name: :count, value: @count }
  .ts-form-group
    %label{ for: :timeout}
      = t('views.javascript.xhr.fields.timeout')
    %input#timeout.ts-field-timeout{ type: :text, name: :timeout, value: @timeout }
  .ts-form-group
    %label{ for: :url}
      = t('views.javascript.xhr.fields.url')
    %input#url.ts-field-url{ type: :text, name: :url, value: @url }
  %button#submit.ts-button-submit{type: 'submit', value: t('views.application.buttons.submit')}
    = t('views.application.buttons.submit')
  %a#reset.ts-button-reset{href: '#'}
    = t('views.application.buttons.reset')

%table#result.ts-result-table
  %th= t('views.javascript.xhr.result_table.url') 
  %th= t('views.javascript.xhr.result_table.runtime') 
  %th= t('views.javascript.xhr.result_table.status') 

