%form#form.ts-form{ name: 'form', action: '', role: :form }
  .ts-form-group
    %label{ for: :count}
      = t('views.javascript.xhr.fields.count')
    %input#count.ts-field-count{ type: :number, name: :count, value: @count }
  .ts-form-group
    %label{ for: :timeout}
      = t('views.javascript.xhr.fields.timeout')
    %input#timeout.ts-field-timeout{ type: :number, name: :timeout, value: @timeout }
  .ts-form-group
    %label{ for: :url}
      = t('views.javascript.xhr.fields.url')
    %input#url.ts-field-url{ type: :url, name: :url, value: @url, placeholder: 'http://www.example.org' }
    .ts-field-repeat
      %label
        - if @repeat
          %input#repeat{ type: :checkbox, checked: 'checked', value: true, name: :repeat }
            = t('views.javascript.xhr.fields.repeat')
        - else
          %input#repeat{ type: :checkbox, name: :repeat }
            = t('views.javascript.xhr.fields.repeat')
  %button#submit.ts-button-submit{type: 'submit', name: 'submit', value: t('views.application.buttons.submit'), 'data-toggle' => 'modal', 'data-target' => '#notification'}
    = t('views.application.buttons.submit')
  %a#reset.ts-button-reset{href: '#', name: 'reset'}
    = t('views.application.buttons.reset')
  %a#clone.ts-button-clone{href: '#', name: 'clone'}
    = t('views.application.buttons.clone')
  %span.ts-inline#request-spinner
    %img{ src: '/assets/ajax-loader.gif', alt: t('views.javascript.xhr.spinner.text') }
    = t('views.javascript.xhr.spinner.text')

%table#result.ts-result-table
  %tr#result_table_header
    %th= t('views.javascript.xhr.result_table.url') 
    %th= t('views.javascript.xhr.result_table.timeout') 
    %th= t('views.javascript.xhr.result_table.runtime') 
    %th= t('views.javascript.xhr.result_table.status') 
